/* site.css
 *
 * This code is Copyright 1998--2013 The GnuPG Project and licensed
 * under a Creative Commons Attribution-ShareAlike 3.0 Unported
 * License.  See the file copying.org for details.
 */

/*  Color names as used by lolo's old site design:
 *   gray              #5c6064
 *   lightblue         #d0dce8
 *   darkpurple        #784c6c
 *   lightpurple       #f0f0fc
 *   grayedlightpurple #ebebf4
 */

body {
  background-color: #f0f0fc;
}

h1,
h2,
h3 {
  color: #5c6064;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

h1,
h2 {
  font-size: large;
}

h1:first-letter,
h2:first-letter,
h3:first-letter {
  color: #784c6c;
}


h1:first-letter,
h2:first-letter {
  font-size: x-large;
}

h3:first-letter {
  font-size: large;
}

/*
   Links
 */

a:link {
  color: #784c6c;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  background-color: #d0dce8;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #5c6064;
  font-weight: bold;
  text-decoration: none;
}

a.img:hover {
  background-color: #f0f0fc;
}

/*
   Raise attention
 */

li.important {
  color: red;
}

span.important {
  color: red;
}


div.urgent {
  width: 85%;
  text-align: center;
  border: solid red;
  font-weight: bold;
}


/*
   Other elements as commonly used by org-mode
 */
p {
    margin-top: 1%;
}


img {
    border-width: 0;
}

img.lfloat {
    float: left;
    margin-right: 1em;
}

img.rfloat {
    float: right;
    margin-left: 1em;
}

.correction
{
    color: #ff0000;
}

div.entry-qotd P
{
  padding-left: 20%;
  margin-bottom: 0;
}

div.entry-qotd
{
  margin-bottom: 3%;
}


.example {
    overflow: auto;
}


#kicker {
    padding-top: 5%;
    font-size: 125%;
    border-bottom: 3px #FFb580 solid;
    font-family: verdana,arial,helvetica;
    margin-bottom: 2%;
}



#header {
    background: url(/share/logo-gnupg-light-purple-bg.png) center no-repeat;
    height: 120px;
    padding: 0px;
}

#cornerImage {
    width: 128px;
    height: 130px;
    margin-top: -7.5em;
    margin-left: 82%;
    padding: 0;
    padding-right: 2%;
}

#leftColumn {
    float: left;
    text-align: right;
    width: 18%;
}

nav ul {
    list-style: none;
    font-size: 100%;
    font-family: verdana,arial,helvetica;
    margin-bottom: 1em;
}

nav ul ul {
    font-size: 70%;
}

nav img {
    border-width: 0;
}

main {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 72%;
}

main ul {
    list-style: square;
    padding-left: 0;
    margin-left: 1em;
}


#rightColumn {
    float: right;
    width: 18%;
    margin-left: 5%;
    margin-right: 2%;
    margin-top: 2%;
}

#rightColumn ul {
    list-style: square;
    padding-left: 0;
    margin-left: 1em;
}

#cpyright {
    font-style: italic;
    font-size: 0.6em;
}

#smallnote {
    font-style: italic;
    font-size: 0.8em;
}

#footer {
    margin-top: 5em;
    margin-left: 10%;
    width: 80%;
    clear: both;
}

#footer p {
    font-style: italic;
    font-size: 0.3em;
    padding: 2em 0;
}


.articleRight {
    float: right;
    padding: 2%;
}

pre {
    border: thin black solid;
    background-color: #C4C4C4;
    padding: 0.5em;
    overflow: auto;
}


/* Table stuff */

th.left {
    text-align:center;
}

th.center {
    text-align:center;
}

th.right {
    text-align:center;
}

td.left   {
    text-align:left;
}

td.center {
    text-align:center;
}

td.right  {
    text-align:right;
}



/* EOF */