oldsite/
stage/
scratch/
/web/sitemap.org
.*.orgx
/web/theindex.inc
/web/faq/gnupg-faq.pdf
/web/faq/gnupg-faq.tex
/web/faq/gnupg-faq.txt
/web/swdb.lst
/web/swdb.lst.sig
/misc/blog.gnupg.org/index.html
/misc/blog.gnupg.org/20*.html
/misc/blog.gnupg.org/headlines.txt
/misc/id/eddsa-for-openpgp/draft.txt
*~
.DS_Store
._.DS_Store
default.profraw
/misc/id/openpgp-webkey-service/draft.xml
/misc/id/common/reference.RFC.8615.xml
/misc/id/openpgp-webkey-service/.refcache/reference.RFC.2119.xml
/misc/id/openpgp-webkey-service/.refcache/reference.RFC.3156.xml
/misc/id/openpgp-webkey-service/.refcache/reference.RFC.4880.xml
/misc/id/openpgp-webkey-service/.refcache/reference.RFC.6189.xml
/misc/id/openpgp-webkey-service/.refcache/reference.RFC.8615.xml
