# config.rc - Configuration variables for all CGIs         -*- perl -*-

baseurl => 'https://gnupg.org'
htdocs  => '/var/www/www/www.gnupg.org/htdocs/',

payprocd_socket => '/var/run/payproc/daemon',

#eof#
